In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("manishkr1754/cardekho-used-car-data")

print("Path to dataset files:", path)

In [ ]:
import os
all_files=os.listdir(path)# this show file folder
all_files

In [ ]:
file_path=path+'\\'+all_files[0] #this will give the path of the first file in the folder
file_path

In [ ]:
#step1 - import module
# step2 - read the file
#step3 - show the data

In [ ]:
import pandas as pd
df=pd.read_csv(file_path) #this will read the first file in the folder as a dataframe
print("DOne")

In [ ]:
df.head()
df.tail()
df.info()

In [ ]:
r,c= df.shape
print("Rows:", r, "Columns:", c)

Data Rangling and data manging = used for data cleaning

In [ ]:
#list of columns
df.columns

In [ ]:
#then we remove unnamed columns because it not useful
df.drop('Unnamed: 0', axis=1,inplace=True) #this will remove the unnamed column and axis 1 means column
#inplace =true means it will change the original dataframe

In [ ]:
df.sample(3) #this will show 3 random rows from the dataframe

In [ ]:
#for check the index of dataframe is correct or not
df.index
#if it show in form of tuple then it is correct otherwise it is not correct

In [ ]:
#check for the null values in all columns
df.isna().sum() #output 0 mean no null values in that column
df.isnull().sum() #both are same

In [ ]:
#graphical/visualization we use heatmap
import seaborn as sns
sns.heatmap(df.isnull())

In [ ]:
#if there is any null values then we need to do 
# Replace/Fill/Remove/ignore

In [ ]:
#stats by default this ignore the object and catogray
df.describe().round(2)

In [ ]:
df.describe(include=['O']) # here 'O' means object type columns

In [ ]:
#analysis 
# univariate analysis (Single column), bivariate analysis(Double Column ), multivariate analysis(More than two columns)

In [ ]:
#start with univariate analysis
cat_col=list(df.describe(include=['O']).columns) #this will give the list of object type columns
num_col=list(df.describe().columns) #this will give the list of numerical columns
print(cat_col)
print(num_col)

In [ ]:
#unique #nunique #value_counts
# in pandas there are mainly two type of data type 1. dataframe 2. series(it for single column)
df["car_name"]
df["car_name"].value_counts().head(10) #this will show the top 10 car names with their count
df["car_name"].value_counts().tail(10) #this will show the last 10 car names with their count

In [ ]:
#Top 10 values for each categorical column
for i in cat_col:
    print(f"Top 10 values for {i}:\n")
    display(df[i].value_counts().head(10))

In [ ]:
df["car_name"].value_counts().head(10)#this show values of top 10 
top_10=df["car_name"].value_counts().head(10)#this show values of top 10 
a=top_10/top_10.sum()*100 #this will show the percentage of top 10 values
print(a.round(2)) #this will round the percentage to 2 decimal places

In [ ]:
#Top 10 values for each categorical column
for i in cat_col:
    print(f"Top 10 values for {i}:\n")
    top_10=df[i].value_counts().head(10)
    ans=top_10/top_10.sum()*100 #this will show the percentage of top 10 values
    display(ans.round(2)) #this will round the percentage to 2 decimal places

In [ ]:
#bottom 10 values for each categorical column
for i in cat_col:
    print(f"Bottom 10 values for {i}:\n")
    display(df[i].value_counts().tail(10)) #this will show the bottom 10 values for each categorical column
    # top_10=df[i].value_counts().tail(10)
    # ans=top_10/top_10.sum()*100 #this will show the percentage of bottom 10 values
    # display(ans.round(2),'%') #this will round the percentage to 2 decimal places

In [ ]:
df['car_name'].value_counts().head(10).plot(kind='pie',autopct="%.2f%%") #this will make a chart with percentage using autopct .2 mean round of 2 decimal places and autopct is only used for pie chart

In [ ]:
for i in cat_col:
    print(f"Top 10 values for {i}:\n")
    df[i].value_counts().head(10).plot(kind='pie',autopct="%.2f%%")

In [ ]:
def top_graph(name):
    import matplotlib.pyplot as plt
    y=df[name].value_counts().head(10).values
    x=df[name].value_counts().head(10).index
    plt.figure(figsize=(8,4))  # Set the figure size for better visibility(length and width)
    plt.title(f"Top 10 {name}", fontsize=16, color='red')  # Set the title of the graph
    ax=plt.bar(x, y,color=sns.color_palette('magma',10))  # more colors= rainbow, hot, cool, winter, spring, summer, autumn, magma, viridis
    plt.bar_label(ax)
    plt.xticks(rotation=90)  # Rotate x-axis labels for better readability
    plt.show()
def Bottom_graph(name):
    import matplotlib.pyplot as plt
    y=df[name].value_counts().tail(10).values
    x=df[name].value_counts().tail(10).index
    plt.figure(figsize=(8,4))  # Set the figure size for better visibility(length and width)
    plt.title(f"Bottom 10 {name}", fontsize=16, color='red')  # Set the title of the graph
    ax=plt.bar(x, y,color=sns.color_palette('magma',10))  # more colors= rainbow, hot, cool, winter, spring, summer, autumn, magma, viridis
    plt.bar_label(ax)
    plt.xticks(rotation=90)  # Rotate x-axis labels for better readability
    plt.show()

In [ ]:
for i in cat_col: #for top 
    print(f"Top 10 values for {i}:\n")
    top_graph(i)  # Call the graph function for each categorical column

In [ ]:
for i in cat_col: #for Bottom
    print (f"Bottom 10 values for {i}:\n")
    Bottom_graph(i)

In [ ]:
df['selling_price'].plot(kind='hist')

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
plt.hist(df['selling_price'],bins=np.linspace(df['selling_price'].min(),df['selling_price'].max(),200)) #linspace mean linear space and the number used here mean size 
plt.show()

In [ ]:
def plot_hist(col_name,bin_size=100):
    import matplotlib.pyplot as plt
    import numpy as np
    plt.title(f"Distribution of {col_name} analysis".title(), fontsize=25, color="Blue")
    plt.hist(df[col_name],bins=np.linspace(df[col_name].min(),df[col_name].max(),bin_size)) #linspace mean linear space and the number used here mean size 
    plt.show()

plot_hist("selling_price",200)  # Call the plot_hist function with column name and bin size

In [ ]:
for i in num_col:
    plot_hist(i)

In [ ]:
#filtering data 
#masking technique
df.columns

In [ ]:
df["mileage"].min()

In [ ]:
#minimum mileage car
df[df["mileage"]==df["mileage"].min()]

In [ ]:
#maximum mileage car
df[df["mileage"]==df["mileage"].max()]

In [ ]:
#minimum seats car
df[df["seats"]==df["seats"].min()]

In [ ]:
second_Cheap=df["selling_price"].sort_values().values[1]#ascending value

In [ ]:
df[df["selling_price"]==second_Cheap]

In [ ]:
second_Costly=df["selling_price"].sort_values(ascending=False).values[1]#ascending value

In [ ]:
df[df['selling_price']==second_Costly]

In [ ]:
#top 10 car by selling price
top10=df.sort_values(by='selling_price',ascending=False).head(10)

In [ ]:
df.columns

In [ ]:
top10[['car_name','selling_price']]

In [ ]:
# this will make the code in one line
top10_old=df.sort_values(by='vehicle_age',ascending=False).head(10)[['car_name','vehicle_age']]
top10_old

In [ ]:
top10_old=df.sort_values(by='vehicle_age').head(10)[['car_name','vehicle_age',"selling_price"]]
top10_old

In [ ]:
# unique method
df['brand'].unique() # This will show the unique values in the 'brand' column
df['brand'].nunique() # this will shhow the count of unique values in the 'brand' column

In [ ]:
#group by 
df.groupby('brand')['selling_price'].mean().round(2).sort_values(ascending=0)

In [98]:
df.groupby('seller_type')['selling_price'].agg(['min','max', 'mean'])

                     min       max           mean
seller_type
Dealer             55000  39500000  872505.503722
Individual         40000  24200000  617880.483418
Trustmark Dealer  210000   1575000  571959.537572

In [99]:
df.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')