In [ ]:
import numpy as np
import matplotlib.pyplot as plt
url=r"C:\Users\divya\OneDrive\Desktop\datascience1\unnamed (1).jpg"
arr=plt.imread(url)
plt.imshow(arr)

In [ ]:
pookie=arr.copy()

In [ ]:
plt.imshow(pookie)
pookie.shape

In [ ]:
try:
    import numpy as np
    import matplotlib.pyplot as plt
    while True:
        import time
        a=np.random.randint(0,255,(5,5,3))
        plt.imshow(a)
        plt.show()
        time.sleep(0.5)
        display(clear=True)
except:
    print("Stopped")

In [ ]:
import numpy as np
a = np.random.randint(0,255,(4,4,3))
a

In [ ]:
splt=np.split(a,2)
splt

In [ ]:
plt.imshow(a)
plt.imshow(splt[1])
plt.imshow(a)

In [ ]:
arr=np.split(a,3,axis=2)
plt.imshow(arr[0])

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
url=r"C:\Users\divya\OneDrive\Desktop\datascience1\unnamed (1).jpg"
arr=plt.imread(url)
pookie=arr.copy()
print(plt.imshow(np.split(arr,2,axis=0)[1]))
# pookie.shape

In [ ]:
pookie.shape
206//3
plt.imshow(arr[:,68*2:,:])
np.split(arr,4,axis=1)

In [ ]:
a=np.random.randint(1,500,(4,4))
a

In [ ]:
np.where(a>200, a, "High")
np.where(a>200,"High",a)

In [ ]:
a=np.random.randint(1,500,(4,4))
print(a)
np.clip(a,100,250) #(array,lower,upper)

In [ ]:
#broadcasting
a=np.random.randint(1,100,6)
b=np.random.randint(1,100,(2,6))
print(a)
print("\n")
print(b)

In [ ]:
a+b

#Pandas

In [ ]:
#pandas stand for pannel data frame
import pandas as pd
pd.__version__

In [ ]:
import random
import numpy as np
product=["Chair","table","Laptop","Phone"]
region=["East","West","North","South"]
all_date=pd.date_range('01-01-2025','23-07-2025')
data={'Order_id':range(1,1001),
      "Date":random.choices(all_date, k=1000),
    'Region Name':random.choices(region,k=1000),
      'Product Name':random.choices(product,k=1000),
      'Sales':np.random.randint(100,1000,1000),
      'Qty':np.random.randint(1,10,1000),
      'profit':np.random.randint(-10000,10000,1000)}
df=pd.DataFrame(data)
display(df)

In [ ]:
df.head()#Ir show first 5 data from the starting

In [ ]:
df.tail()#Show the lower data. By default 5 value

In [ ]:
df.sample()#randomly choose any value from the data

In [ ]:
#information about dataset 
df.info()

#IN PANDAS THERE ARE TWO TYPE OF DATATYPE (DATAFRAME AND SERIES)

In [ ]:
#Column name 
df.columns

In [ ]:
# table index 
df.index # show the range of the data

In [ ]:
#isan = check for nan values (not available)
df.isna()

In [ ]:
# null count 
df.isnull().value_counts()